*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
Bergwacht-System/BergwachtSystem/.idea/workspace.xml
Bergwacht-System/BergwachtSystem/db.sqlite3
Bergwacht-System/BergwachtSystem/static/bootstrap/css/addition.css
