{% extends 'base.html' %}

{% if duty_list %}

{% block title %} Dienstplan {% endblock %}

{% block content %}
<h1>Dienstplan</h1>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#"> Liste </a></li>
    <li role="presentation"><a href="{% url 'duty_scheduler:duty_calendar' %}"> Kalender </a></li>
</ul>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Gebiet</th>
            <th>Beginn</th>
            <th>Ende</th>
            <th>Art</th>
            <th>#AEK</th>
            <th>Einsatzkräfte</th>
            <th>Andere</th>
            <th>Aktion</th>
        </tr>
        {% for duty in duty_list %}
        <tr>
            <td>{% if duty.duty_area.link %}
                <a href="{{ duty.duty_area.link }}">{{ duty.duty_area.name }}</a>
                {% else %}
                {{ duty.duty_area.name }}
                {% endif %}
            </td>
            <td>{{ duty.duty_start|date:'d.m.Y' }}<br>{{ duty.duty_start|date:'H:i' }}</td>
            <td>{{ duty.duty_end|date:'d.m.Y' }}<br>{{ duty.duty_end|date:'H:i' }}</td>
            <td>{{ duty.category }}<br>{% if not duty.detail is null %}{{ duty.detail }}{% endif %}
            {{ duty.is_closed }}
            </td>
            <td>
                <div class="progress">
                    {% if duty.getAEKcount == 0 %}
                    <div class="progress-bar progress-bar progress-bar-danger" role="progressbar"
                         aria-valuenow="{{ duty.getAEKcount }}*100%/{{ duty.minaek }}" aria-valuemin="0"
                         aria-valuemax="100" style="min-width: 2em; width: 0%;">
                        0/{{ duty.minaek }}
                    </div>
                    {% elif duty.getAEKcount >= duty.minaek %}
                    <div class="progress-bar progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="100%" aria-valuemin="0"
                         aria-valuemax="100" style="min-width: 2em; width: 100%;">
                        {{ duty.getAEKcount }}/{{ duty.minaek }}
                    </div>
                    {% else %}
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{ duty.getAEKcount }}*100%/{{ duty.minaek }}" aria-valuemin="0"
                         aria-valuemax="100"
                         style="min-width: 2em; width: calc({{ duty.getAEKcount }}*100%/{{ duty.minaek }});">
                        {{ duty.getAEKcount }}/{{ duty.minaek }}
                    </div>
                    {% endif %}
                </div>
            </td>
            <td>{% for takes_part in duty.takes_part_in_duty_set.all %}
                {% if takes_part.member.isAEK %}
                <a href="{% url 'member_administration:member_detail' takes_part.member.user.username %}">
                    {{ takes_part.member.user.first_name}} {{ takes_part.member.user.last_name }}</a>
                {% if takes_part.function != None %} ({{ takes_part.function.shortname }}) {% endif %}
                <br>
                {% endif %}
                {% endfor %}
            </td>
            <td> {% for takes_part in duty.takes_part_in_duty_set.all %}
                {% if not takes_part.member.isAEK %}
                <a href="{% url 'member_administration:member_detail' takes_part.member.user.username %}">
                    {{ takes_part.member.user.first_name }} {{ takes_part.member.user.last_name }}</a>
                {% if takes_part.function != None %} ({{ takes_part.function.shortname }}) {% endif %}
                <br>
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'duty_scheduler:duty_detail' duty.duty_number %}" class="btn btn-default"
                   role="button"><span class="glyphicon glyphicon-info-sign"
                                       aria-hidden="true"></span></a>
                {% if current_member in duty.members.all %}
                <a href="{% url 'duty_scheduler:duty_signout' duty.duty_number %}"
                   class="btn btn-danger {% if duty.is_closed %}disabled{% endif %}"
                   role="button">Abmelden</a>
                {% else %}
                <a href="{% url 'duty_scheduler:duty_signin' duty.duty_number %}"
                   class="btn btn-primary {% if duty.is_closed %}disabled{% endif %}"
                   role="button">Anmelden</a>
                {% endif %}
                <!-- <a href="mailto: {% for member in duty.members.all %}{{ member.user.email }}, {% endfor %} "
                   class="btn btn-success" role="button">Mail</a> -->
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% else %}
<p>Keine aktuellen Dienste angelegt!</p>
{% endif %}