{% extends 'base.html' %}
{% load bootstrap3 %}
{% load cms_tags %}
{% load menu_tags %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Menü</h3>
            </div>
            <div class="list-group">
                {% for child in children %}
                <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                   class="list-group-item child {% if child.selected %}active selected{% endif %} {% if child.ancestor %}ancestor{% endif %} {% if child.sibling %}sibling{% endif %} {% if child.descendant %}descendant{% endif %}">
                    <b>{{ child.get_menu_title }}</b></a>
                {% if child.children %}
                {% for child2 in child.children %}
                <a href="{{ child2.attr.redirect_url|default:child2.get_absolute_url }}"
                   class="list-group-item child {% if child2.selected %}active selected{% endif %} {% if child2.ancestor %}ancestor{% endif %} {% if child2.sibling %}sibling{% endif %} {% if child2.descendant %}descendant{% endif %}">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {{ child2.get_menu_title }}</a>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% placeholder "feature" %}
        {% placeholder "content" %}
        {% placeholder "splashbox" %}
    </div>
</div>
{% endblock %}