{% extends 'base.html' %}
{% load bootstrap3 %}
{% load cms_tags %}
{% load menu_tags %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-3">

        <nav class="nav-sidebar">
            <ul class="nav">
                {% for child in children %}
                <li class="child {% if child.selected %}active selected{% endif %} {% if child.ancestor %}ancestor{% endif %} {% if child.sibling %}sibling{% endif %} {% if child.descendant %}descendant{% endif %}">
                    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    {% if child.children %}
                    <ul>
                        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>

    </div>
    <div class="col-md-9">
        {% placeholder "feature" %}
        {% placeholder "content" %}
        {% placeholder "splashbox" %}
    </div>
</div>

{% endblock %}