{% extends 'base.html' %}

{% if member_list %}
{% block title %} Mitgliederliste {% endblock %}

{% block content %}
<h1>Mitgliederliste</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered" id="member-table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Trupp</th>
            <th>Kontakt</th>
        </tr>
        </thead>
        <tbody>
        {% for member in member_list %}
        <tr>
            <td><a href="{% url 'member_administration:member_detail' member.user.username %}">
                {{ member.user.last_name }}, {{ member.user.first_name }} </a></td>
            <td>{{ member.get_status_display }}</td>
            <td>{% for dutygroup in member.dutygroups.all %}
                {{ dutygroup.name }} <br>
                {% endfor %}
            </td>
            <td><a href="tel:{{ member.mobile }}" class="btn btn-primary" role="button">Anrufen</a>
                <a href="mailto:{{ member.user.email }}" class="btn btn-primary" role="button">Mail</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#member-table').DataTable();
        });


    </script>
</div>
{% endblock %}
{% else %}
<p>Keine Mitglieder angelegt!</p>
{% endif %}